.check {
    border: 3px solid red;
}



/* CSS for header*/

.header {
    max-width: 1440px;
    min-height: 67px;
    padding: 25px 140px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F5FB;
}
.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}


.header__menu-item {
    font-family: 'Montserrat','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 40px;

}

.header__menu-item:last-of-type {
    margin-right: 0;
}



ul {
    list-style-position: inside;  
    list-style-type: none; 
}


.header__logo {
    max-width: 112px;
    height: 67px;
}

.header__menu-item_active-style {
    list-style-image: url(./images/bullet_1.png);
}

.header__menu-phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    list-style-image: url(./images/bullet_2.png);
    list-style-position: inside;
}

.link {
    text-decoration: none;
    color: #000000;
}

.link:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.link:active {
    text-decoration: underline;
}

/* CSS for header*/



/* CSS for lead*/
.lead {
    max-width: 1440px;
    min-height: 765px;
    background-color: #F0F5FB;
    padding-top: 105px;
}


.title {
    max-width: 949px;
    font-family: 'Montserrat','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    margin:0 auto;
    text-align: center;
}

.subtitle {
    max-width: 570px;
    font-family: 'Montserrat','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    margin:18px auto 0;
}


/* CSS for lead*/



/* CSS for menu*/

.menu {
    max-width: 1440px;
    min-height: 1433px;
    padding-top: 140px;
    background-image: url(./images/icons\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu__dishes {
    max-width: 1161px;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__grid {
    max-width: 1160px;
    min-height: 851px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 21px;
}
/* CSS for menu*/